.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  width: 650px;

  justify-content: space-around;
  margin-left: 20%;
}
.container {
  width: 300px;
}
form {
  margin-top: 2%;
}
input {
  border: 1px solid rgb(162, 163, 161);
  margin: 1.5%;
  border-bottom: 1px solid #007bff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  outline: none;
  margin-bottom: 4%;
  font-size: 16px;
}
.card {
  width: 250px;
}
